
@{
    ViewBag.Title = "DistributionMaraichère";
}

<h2>Distribution Maraîchère</h2>

<a href="/DM/ACPDM" class="btn border jumbotron">ACP</a>
<a href="/DM/ReseauxPlateformesDM" class="btn border jumbotron">Réseaux/Plateformes de distribution</a>
<a href="/DM/VentesEnLigneDM" class="btn border jumbotron">Ventes en ligne</a>

