
@{
    ViewBag.Title = "Elevage";
}

<h2>Elevage</h2>


<a href="/Elevage/ACPElevage" class="btn border jumbotron">ACP</a>
<a href="/Elevage/ReseauxPlateformesElevage" class="btn border jumbotron">Réseaux/Plateformes de distribution</a>
<a href="/Elevage/VentesEnLigneElevage" class="btn border jumbotron">Ventes en ligne</a>
