
@{
    ViewBag.Title = "Fromage";
}

<h2>Fromage</h2>

<a href="/Fromage/ACPFromage" class="btn border jumbotron">ACP</a>
<a href="/Fromage/ReseauxPlateformesFromage" class="btn border jumbotron">Réseaux/Plateformes de distribution</a>
<a href="/Fromage/VentesEnLigneFromage" class="btn border jumbotron">Ventes en ligne</a>
