
@{
    ViewBag.Title = "PlusieursActivités";
}

<h2>Plusieurs Activités</h2>

<a href="/PlusieursActivités/ACPPA" class="btn border jumbotron">ACP</a>
<a href="/PlusieursActivités/ReseauxPlateformesPA" class="btn border jumbotron">Réseaux/Plateformes de distribution</a>
<a href="/PlusieursActivités/VentesEnLignePA" class="btn border jumbotron">Ventes en ligne</a>