@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Ali'Search</h1>
</div>
<center>
    <div class="row">
        <div>
            <h2>Présentation</h2>
            <p>
                Notre site internet regroupe tous les intervenants dans le domaine de l'alimentaire dans la région allémanique. Idéal pour débuter un projet,
                vous trouverez toutes les informations nécessaires pour entreprendre la création de votre projet.
            </p>
            <p>
                <a class="btn btn-default" href="/Home/Search">
                    Essayez une recherche &raquo;
                </a>
            </p>
        </div>
    </div>
</center>