
@{
    ViewBag.Title = "Search";
}

<h2>Recherche</h2>

<div class="w3-container">

    <a href="/Search/Distribution" class="btn border jumbotron">Distribution</a>
    <a href="/Search/Finance" class="btn border jumbotron">Finances</a>
    <a href="/Search/Spécialistes" class="btn border jumbotron">Spécialistes</a>
    <a href="/Search/Services Cantonaux" class="btn border jumbotron">Services cantonaux</a>
    <a href="/Search/Ecoles" class="btn border jumbotron">Ecoles</a>

</div>


