
@{
    ViewBag.Title = "Distribution";
}

<h2>Distribution</h2>


   
    <a href="/Distribution/DistributionMaraichere" class="btn border jumbotron">Distribution Maraîchère</a>
    <a href="/Distribution/Elevage" class="btn border jumbotron">Elevage</a>
    <a href="/Distribution/Fromage" class="btn border jumbotron">Fromage</a>
    <a href="/Distribution/PlusieursActivités" class="btn border jumbotron">Plusieurs activités</a>
    

